
*.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.csprojAssemblyReference.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
*.cache
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.csprojAssemblyReference.cache
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.targets
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.exe
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/appsettings.json
AssetManagementAPI/AssetManagementAPI/appsettings.json
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/.vs/AssetManagementAPI/config/applicationhost.config
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.csprojAssemblyReference.cache
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.targets
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.exe
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/appsettings.json
AssetManagementAPI/AssetManagementAPI/appsettings.json
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/.vs/AssetManagementAPI/config/applicationhost.config
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.csprojAssemblyReference.cache
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.targets
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.exe
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/appsettings.json
AssetManagementAPI/AssetManagementAPI/appsettings.json
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/.vs/AssetManagementAPI/config/applicationhost.config
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.csprojAssemblyReference.cache
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.targets
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.exe
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/appsettings.json
AssetManagementAPI/AssetManagementAPI/appsettings.json
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/.vs/AssetManagementAPI/config/applicationhost.config
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.dll
