
*.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.csprojAssemblyReference.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
*.cache
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.dll
AssetManagementAPI/.vs/AssetManagementAPI/config/applicationhost.config
AssetManagementAPI/.vs/AssetManagementAPI/DesignTimeBuild/.dtbcache.v2
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.exe
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.pdb
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Humanizer.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
AssetManagementAPI/.vs/AssetManagementAPI/DesignTimeBuild/.dtbcache.v2
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/.vs/AssetManagementAPI/DesignTimeBuild/.dtbcache.v2
AssetManagementAPI/.vs/AssetManagementAPI/v16/.suo
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/.vs/AssetManagementAPI/DesignTimeBuild/.dtbcache.v2
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/AssetManagementAPI.runtimeconfig.dev.json
AssetManagementAPI/AssetManagementAPI/obj/project.nuget.cache
AssetManagementAPI/AssetManagementAPI/obj/project.assets.json
AssetManagementAPI/AssetManagementAPI/obj/Debug/netcoreapp3.1/AssetManagementAPI.assets.cache
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.g.props
AssetManagementAPI/AssetManagementAPI/obj/AssetManagementAPI.csproj.nuget.dgspec.json
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Proxies.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/Castle.Core.dll
AssetManagementAPI/AssetManagementAPI/bin/Debug/netcoreapp3.1/BCrypt.Net-Next.dll
