AssetManagementAPI/AssetManagementAPI/obj/
AssetManagementAPI/AssetManagementAPI/bin/Debug/
/AssetManagementAPI/AssetManagementClient/bin
/AssetManagementAPI/AssetManagementClient/obj
/AssetManagementAPI/.vs/AssetManagementAPI
AssetManagementAPI/AssetManagementAPI/appsettings.json
