@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerModal">Register</button>

<ul id="listperson"></ul>

<table class="table table-striped" id="tabledata">
    <thead>
        <tr>
            <th>No</th>
            @*<th>Id</th>*@
            <th>First Name</th>
            <th>Last Name</th>
            @*<th>Gender</th>
            <th>BirtDate</th>*@
            @*<th>Address</th>*@
            <th>Contact</th>
            <th>Email</th>
            <th>Department</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tablePoke">
    </tbody>
</table>

<!-- Modal Detail -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Person</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body"></div>
            <!-- Modal Body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Detail -->
<!-- Modal Insert -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Form New Register</h5>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" name="formRegister" class="needs-validation" novalidate>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="nik">NIK</label>
                            <input type="text" class="form-control" id="nik" placeholder="Your NIK" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Your First Name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Your Last Name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" placeholder="Phone Number" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="birthdate">Birth Date</label>
                            <input type="date" class="form-control" id="birthDate" placeholder="" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="number" class="form-control" id="salary" placeholder="Your Salary" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Wajib diisi!
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Your Mail" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Gunakan format email yang benar!
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input name="passReg" type="password" class="form-control" id="password" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Use Strong Password!" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi, Minimum 8 Character!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="degree">Degree</label>
                            <input type="text" class="form-control" id="degree" placeholder="Degree" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="gpa">GPA</label>
                            <input type="text" class="form-control" id="gpa" placeholder="GPA" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="universityId">University</label>
                            <select class="form-control" id="universityId">
                                <option selected>Choose...</option>
                                <option value="1">Universitas Indonesia</option>
                                <option value="2">Universitas Gajah Mada</option>
                                <option value="3">Universitas Padjajaran</option>
                                <option value="5">Universitas Islam Negeri Bandung</option>
                                <option value="6">Universitas Telkom</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Wajib dipilih!
                        </div>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary" onclick="Insert()">Submit form</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Insert -->
<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" name="formEdit" class="needs-validation" novalidate>

                    <div class="form-row">
                        <div class="form-group col-md-4 nik">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 firstName">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                        <div class="form-group col-md-4 lastName">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 phone">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>



                    <div class="form-group salary">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Wajib diisi!
                        </div>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary" onclick="Edit()">Submit form</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit -->
