@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}
<div class="page-wrapper">
    <div class="p-3">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Management Asset</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Menu</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="#">Item</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" class="btn bg-danger text-success" data-toggle="modal" data-target="#addNewItem">Add New Item</a>
        <div class="container-fluid mt-5">
            <table id="tabledataitem" class="table table-striped table-bordered dataTable" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>No</th>
                        <th>Kode Item</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Category Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Category Id</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Add Item-->
<div class="modal fade" id="addNewItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddNewItem">Add New An Asset Detail</h5>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" name="formAddNewItem" class="needs-validation" novalidate>
                    <div class="form-group">
                        <label for="name">Name Item</label>
                        <input type="text" class="form-control" id="name" placeholder="New Item Name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Wajib diisi!
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity" placeholder="Quantity Items" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Wajib diisi!
                        </div>
                    </div>
                    
                    <div>
                        <div class="form-group">
                            <label for="categoryId">Category</label>
                            <select class="form-control" id="categoryId">
                                <option selected>Choose...</option>
                                <option value="1">Elektronik</option>
                                <option value="2">Alat Tulis Kerja</option>
                                <option value="3">Kendaraan</option>
                                <option value="4">Gedung & Bangunan</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Wajib dipilih!
                        </div>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary" onclick="AddNewItem()">Submit form</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Item -->
<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" name="formEdit" class="needs-validation" novalidate>

                    <div class="form-row">
                        <div class="form-group col-md-4 nik">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4 firstName">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                        <div class="form-group col-md-4 lastName">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 phone">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Wajib diisi!
                            </div>
                        </div>
                    </div>



                    <div class="form-group salary">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Wajib diisi!
                        </div>
                    </div>


                    <div class="col-12">
                        <button class="btn btn-primary" onclick="AddNewItem()">Submit form</button>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>