@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}
<div class="page-wrapper">
    <div class="p-3">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Request Has Been Approved</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="#">Menu</a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">
                                    <a href="#">Request Item</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a href="https://localhost:44389/Menu/Admin/RequestItem/TakeAsset">Approved Request</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <p></p>
            <table id="tabledatauserrequesttaken" class="table table-striped table-bordered dataTable" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End date</th>
                        <th>Notes</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Id</th>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End date</th>
                        <th>Notes</th>
                        <th>Quantity</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Take An Asset-->
<div class="modal fade" id="takeAnAsset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddNewRequest">Request Detail</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" id="btnTakenClose"></button>
            </div>
            <div class="modal-body">
                <form onsubmit="return false" name="formAddNewRequest" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="accountIdE">Name</label>
                            <input type="text" class="form-control" id="nameE" placeholder="Name" required disabled>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>

                        </div><div class="form-group col-md-6" hidden>
                            <label for="accountIdE">Name</label>
                            <input type="text" class="form-control" id="accountIdE" placeholder="Name" required disabled hidden>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>

                        </div>

                        <div class="form-group col-md-6">
                            <label for="itemIdE">Item</label>
                            <input type="text" class="form-control" id="itemE" required disabled>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="form-group col-md-6" hidden>
                            <label for="itemIdE">Item</label>
                            <input type="text" class="form-control" id="itemIdE" required disabled hidden>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="startDateE">Start Date</label>
                            <input type="date" class="form-control" id="startDateE" placeholder="Start Date" required disabled>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>

                        </div>

                        <div class="form-group col-md-6">
                            <label for="endDateE">End Date</label>
                            <input type="date" class="form-control" id="endDateE" placeholder="End Date" required disabled>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="quantityE">Quantity</label>
                            <input type="number" class="form-control" id="quantityE" placeholder="Quantity" required disabled>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <label for="notesE">Notes</label>
                            <input type="text" class="form-control" id="notesE" placeholder="Notes" required disabled>
                            <div class="valid-feedback">
                            </div>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6" hidden>
                        <label for="idE">Id</label>
                        <input type="number" class="form-control" id="idE" required disabled>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" id="taken">Taken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Take An Asset -->