@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardEmployee.cshtml";
    var token = ViewData["token"];
    var id = ViewData["id"];
}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">New Item Request</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item">
                                <a href="#">Menu</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Request Item</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <a href="https://localhost:44389/Menu/RequestItem/NewRequest">New Request</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- *************************************************************** -->
        <div class="card">
            @*<div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="rounded-circle img-thumbnail" style="max-width:20%">
                    </div>
                </div>*@
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-8">
                            <h6 class="heading-small text-muted mb-4">Detail request</h6>
                        </div>
                    </div>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group focused">
                                    <label for="input-userId" class="form-control-label">User Id</label>
                                    <input type="text" id="input-userId" class="form-control form-control-alternative" value="@id"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused item-available">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-quantity">Quantity</label>
                                    <input type="number" id="input-quantity" class="form-control form-control-alternative" placeholder="Number of item">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-start-date">Start Date</label>
                                    <input type="date" id="input-start-date" class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group focused">
                                    <label class="form-control-label" for="input-end-date">End Date</label>
                                    <input type="date" id="input-end-date" class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>
                        <div class="form-group focused">
                            <label>Notes</label>
                            <textarea rows="4" class="form-control form-control-alternative" id="input-notes" placeholder="Type in your purpose for borrowing this item... "></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="#" class="btn btn-primary" onclick="RequestNewItem()">Submit</a>
                            @*<button type="submit" class="btn btn-primary">Submit</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
